APP_ENV=production
APP_BUILD_SHA=unknown
HTTP_ADDR=:8080
APP_TIMEZONE=Europe/Belgrade
APP_CURRENCY=RSD
APP_PUBLIC_BASE_URL=https://api.takolako.site/testbranch-api
APP_ALLOWED_ORIGINS=https://takolako.site,https://www.takolako.site

APP_ENCRYPTION_KEY=
PII_HASH_KEY=
DEV_POSTGRES_PASSWORD=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_CLIENT_BOT_USERNAME=TakoLako_main_bot
TELEGRAM_CLIENT_BOT_TOKEN=
TELEGRAM_CLIENT_MINI_APP_URL=https://takolako.site/testbranch/main/

BOOTSTRAP_OWNER_TELEGRAM_IDS=1048084234
BOOTSTRAP_OWNER_TELEGRAM_ID=1048084234
DEV_SANDBOX_MODE=true
DEV_SANDBOX_ALLOWED_TELEGRAM_IDS=1048084234
LOCAL_ROLE_SWITCHER_ENABLED=false
NOTIFICATION_DRY_RUN=false
SERVER_TIMING_ENABLED=false
FISCAL_PROCESS_ACCEPTED=false
DEV_APP_HOST_PORT=18081
DEV_MEDIA_VOLUME_HOST_PATH=/srv/tk-delivery-dev/uploads
