openapi: 3.1.0
info:
  title: TK Delivery API
  version: 0.1.0
servers:
  - url: https://api.takolako.site/api/v1
  - url: http://127.0.0.1:8080/api/v1
security:
  - bearerAuth: []
paths:
  /version:
    get:
      security: []
      responses:
        "200":
          description: Public build/version metadata for rollout verification. Uses weak ETag W/"version-<build_sha>" and Cache-Control no-cache.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionInfo"
        "304":
          description: Version metadata did not change for the supplied If-None-Match validator.
  /runtime:
    get:
      security: []
      responses:
        "200":
          description: Runtime settings and schedule state. Uses weak ETag W/"runtime-<revision>-<derived-state-key>" and Cache-Control no-cache.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Runtime semantic state did not change for the supplied If-None-Match validator.
  /menu:
    get:
      security: []
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            enum: [ru, sr, en]
      responses:
        "200":
          description: Visible non-archived menu with additive menu_revision and photo_variants. Uses weak ETag W/"menu-<locale>-<menu_revision>".
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Visible menu did not change for the supplied If-None-Match validator.
  /bootstrap/public:
    get:
      security: []
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            enum: [ru, sr, en]
      responses:
        "200":
          description: Runtime and visible menu for fast public startup, with runtime_revision, menu_revision and weak ETag.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Public bootstrap data did not change for the supplied If-None-Match validator.
  /bootstrap/client:
    post:
      security: []
      responses:
        "200":
          description: Runtime, visible menu, runtime_revision, menu_revision and optional client session, verified contact and at most one active/latest order summary from Telegram initData. Full history is loaded by /orders. Response is not cacheable.
  /bootstrap/staff:
    post:
      security: []
      responses:
        "200":
          description: Staff session and role-specific active order list for Kitchen or Courier
  /bootstrap/admin:
    post:
      security: []
      responses:
        "200":
          description: Admin session, dashboard and optional currently visible admin section
  /performance/beacon:
    post:
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PerformanceBeacon"
      responses:
        "204":
          description: Sampled safe frontend performance metrics accepted
  /dev/session:
    post:
      security: []
      responses:
        "200":
          description: Development-only session
  /auth/telegram:
    post:
      security: []
      responses:
        "200":
          description: Telegram initData session
  /me:
    get:
      responses:
        "200":
          description: Current Telegram-authenticated user, active role and allowed roles
  /telegram/client/webhook:
    post:
      security: []
      responses:
        "200":
          description: Client bot webhook for verified contact and native Telegram location messages
  /contact:
    get:
      responses:
        "200":
          description: Verified Telegram contact for current client session
  /cash-location/challenges:
    post:
      responses:
        "201":
          description: Creates short-lived cash-location challenge. Optional send_prompt=true sends Telegram request_location fallback prompt.
  /cash-location/challenges/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Current cash-location challenge state without exact client coordinates
  /cash-location/challenges/{id}/telegram-webapp-location:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Development-only browser fallback. Production returns 403; cash orders must be verified by native Telegram location through /telegram/client/webhook.
  /orders/calculate:
    post:
      responses:
        "200":
          description: Server-side cart calculation
  /orders:
    get:
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Client order history summary page with limit/offset/has_more and private ETag; full items/contact are returned by /orders/{id}
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Client order history did not change for the supplied If-None-Match validator.
    post:
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Created cash order. If cash location is enabled, request must include a verified unused cash_location_challenge_id.
  /orders/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Client-owned order detail
  /orders/{id}/addition/calculate:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Server-side calculation for one client add-on inside an existing NEW cash order; delivery fee is not charged again.
  /orders/{id}/addition:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Atomically appends one add-on to a NEW cash order with expected_version conflict protection.
  /kitchen/orders:
    get:
      responses:
        "200":
          description: NEW orders without phone/address. Uses private ETag for polling.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Kitchen order list did not change for the supplied If-None-Match validator.
  /kitchen/orders/{id}/ready:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Order moved to OUT_FOR_DELIVERY
  /courier/orders:
    get:
      responses:
        "200":
          description: OUT_FOR_DELIVERY orders with phone/address. Uses private ETag for polling.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Courier order list did not change for the supplied If-None-Match validator.
  /courier/orders/{id}/eta:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Courier notifies client that delivery is expected in 5, 10, 15 or 20 minutes
  /courier/orders/{id}/delivered:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Order moved to DELIVERED
  /admin/settings/manual-day-off:
    put:
      responses:
        "200":
          description: Manual day-off switch updated
  /admin/dashboard:
    get:
      responses:
        "200":
          description: Admin home cards, current runtime and notification errors
  /admin/menu:
    get:
      responses:
        "200":
          description: Full admin menu including hidden and archived records
  /admin/categories:
    get:
      responses:
        "200":
          description: Admin category list
    post:
      responses:
        "201":
          description: Category created
  /admin/categories/{id}:
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category updated with optimistic version check
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Empty category deleted, otherwise archived
  /admin/categories/{id}/archive:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category hidden and archived
  /admin/categories/{id}/restore:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category restored from archive and made visible
  /admin/items:
    get:
      responses:
        "200":
          description: Admin dish list
    post:
      responses:
        "201":
          description: Dish created
  /admin/items/{id}:
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Dish updated with optimistic version check
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Unused dish deleted, used dish archived
  /admin/items/{id}/archive:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Dish hidden and archived
  /admin/items/{id}/restore:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Dish restored from archive and made visible
  /admin/uploads/menu-photo:
    post:
      responses:
        "201":
          description: JPEG/PNG/WebP menu photo decoded, stripped, resized and stored as JPEG display + thumbnail variants
  /admin/settings:
    get:
      responses:
        "200":
          description: Safe admin settings without secrets
    put:
      responses:
        "200":
          description: Safe admin settings updated
  /admin/schedule:
    get:
      responses:
        "200":
          description: Weekly restaurant schedule
    put:
      responses:
        "200":
          description: Weekly restaurant schedule replaced after validation
  /admin/orders:
    get:
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [NEW, OUT_FOR_DELIVERY, DELIVERED, CANCELLED]
        - name: q
          in: query
          schema:
            type: string
            maxLength: 80
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Admin order summary page with private ETag, status/date/search filters and has_more pagination metadata; phone, address, items and events are returned only by /admin/orders/{id}
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Admin order summary page did not change for the supplied If-None-Match validator.
  /admin/orders/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin order detail with PII and events
  /admin/orders/{id}/cancel:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin cancels active order with required reason
  /admin/orders/{id}/return-to-new:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin returns OUT_FOR_DELIVERY order to NEW
  /admin/orders/{id}/contact:
    put:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin edits phone/address with audit redaction
  /admin/orders/{id}/resend:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin creates a notification retry job. Courier resend is allowed only while order is OUT_FOR_DELIVERY.
  /admin/orders/{id}/note:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin adds internal note
  /admin/staff:
    get:
      responses:
        "200":
          description: Staff list
    post:
      responses:
        "201":
          description: Staff role added by numeric Telegram ID
  /admin/staff/{id}:
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Staff role updated, with last ADMIN and one courier checks
  /admin/analytics:
    get:
      responses:
        "200":
          description: Simple PostgreSQL analytics
  /admin/analytics.csv:
    get:
      responses:
        "200":
          description: CSV export without phone/address
  /admin/audit:
    get:
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Safe paginated admin audit log with entries, limit, offset and has_more
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    VersionInfo:
      type: object
      additionalProperties: false
      required: [service, build_sha, api_contract]
      properties:
        service:
          type: string
        build_sha:
          type: string
        api_contract:
          type: string
    PerformanceBeacon:
      type: object
      additionalProperties: false
      required: [app, route, build]
      properties:
        app:
          type: string
          enum: [client, kitchen, courier, admin]
        route:
          type: string
          minLength: 1
          maxLength: 64
          pattern: "^[A-Za-z0-9._/-]+$"
        build:
          type: string
          minLength: 1
          maxLength: 80
          pattern: "^[A-Za-z0-9._/-]+$"
        ttfb_ms:
          type: number
          minimum: 0
          maximum: 60000
        lcp_ms:
          type: number
          minimum: 0
          maximum: 60000
        cls:
          type: number
          minimum: 0
          maximum: 10
        inp_ms:
          type: number
          minimum: 0
          maximum: 60000
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    orderId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    idempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
