openapi: 3.1.0
info:
  title: TK Delivery API
  version: 0.1.0
servers:
  - url: https://api.takolako.site/api/v1
  - url: http://127.0.0.1:8080/api/v1
security:
  - bearerAuth: []
paths:
  /version:
    get:
      security: []
      responses:
        "200":
          description: Public build/version metadata for rollout verification. Uses weak ETag W/"version-<build_sha>" and Cache-Control no-cache.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionInfo"
        "304":
          description: Version metadata did not change for the supplied If-None-Match validator.
  /runtime:
    get:
      security: []
      responses:
        "200":
          description: Runtime settings and schedule state. Uses weak ETag W/"runtime-<revision>-<derived-state-key>" and Cache-Control no-cache.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Runtime semantic state did not change for the supplied If-None-Match validator.
  /menu:
    get:
      security: []
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            enum: [ru, sr, en]
      responses:
        "200":
          description: Visible non-archived menu with additive menu_revision and photo_variants. Uses weak ETag W/"menu-<locale>-<menu_revision>".
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Visible menu did not change for the supplied If-None-Match validator.
  /bootstrap/public:
    get:
      security: []
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            enum: [ru, sr, en]
      responses:
        "200":
          description: Runtime and visible menu for fast public startup, with runtime_revision, menu_revision and weak ETag.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Public bootstrap data did not change for the supplied If-None-Match validator.
  /bootstrap/client:
    post:
      security: []
      responses:
        "200":
          description: Runtime, visible menu, runtime_revision, menu_revision and optional client session, verified contact and at most one active/latest order summary from Telegram initData. Full history is loaded by /orders. Response is not cacheable.
  /bootstrap/staff:
    post:
      security: []
      responses:
        "200":
          description: Staff session and role-specific active order list for Kitchen or Courier
  /bootstrap/admin:
    post:
      security: []
      responses:
        "200":
          description: Admin session, dashboard and optional currently visible admin section
  /performance/beacon:
    post:
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PerformanceBeacon"
      responses:
        "204":
          description: Sampled safe frontend performance metrics accepted
  /dev/session:
    post:
      security: []
      responses:
        "200":
          description: Development-only session
  /auth/telegram:
    post:
      security: []
      responses:
        "200":
          description: Telegram initData session
  /me:
    get:
      responses:
        "200":
          description: Current Telegram-authenticated user, active role and allowed roles
  /telegram/client/webhook:
    post:
      security: []
      responses:
        "200":
          description: Client bot webhook for verified contact and native Telegram location messages
  /contact:
    get:
      responses:
        "200":
          description: Verified Telegram contact for current client session
  /cash-location/challenges:
    post:
      responses:
        "201":
          description: Creates short-lived cash-location challenge. Optional send_prompt=true sends Telegram request_location fallback prompt.
  /cash-location/challenges/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Current cash-location challenge state without exact client coordinates
  /cash-location/challenges/{id}/telegram-webapp-location:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Development-only browser fallback. Production returns 403; cash orders must be verified by native Telegram location through /telegram/client/webhook.
  /pickup/slots:
    get:
      responses:
        "200":
          description: Available scheduled pickup slots for the current restaurant day, calculated from server time, lead time and per-slot capacity.
        "409":
          description: Pickup is disabled or the restaurant is not accepting orders.
  /reservations/availability:
    get:
      parameters:
        - name: guests
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
      responses:
        "200":
          description: Free two-hour reservation starts for the next seven days.
  /reservations/mine:
    get:
      responses:
        "200":
          description: Current client's future active reservation or null.
  /reservations:
    post:
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "201":
          description: Table assigned and reservation created transactionally.
        "409":
          description: Slot was taken or the client already has an active reservation.
  /reservations/{id}/cancel:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Client reservation cancelled and the table released.
  /orders/calculate:
    post:
      responses:
        "200":
          description: Server-side cart calculation. Request body may include fulfillment_type=delivery|pickup; pickup always has zero delivery fee.
  /orders:
    get:
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Client order history summary page with limit/offset/has_more and private ETag; full items/contact are returned by /orders/{id}
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Client order history did not change for the supplied If-None-Match validator.
    post:
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [calculation_token, phone, fulfillment_type, payment_method, terms_accepted, terms_version, locale]
              properties:
                pickup_at:
                  type: string
                  format: date-time
                  description: Required for pickup and forbidden for delivery. Must be one of the currently available slots.
                terms_accepted:
                  type: boolean
                  const: true
                terms_version:
                  type: string
                  maxLength: 40
      responses:
        "201":
          description: Created cash order. Request must include fulfillment_type=delivery|pickup. Pickup additionally requires pickup_at. All cash orders require a verified unused cash_location_challenge_id when cash location is enabled; pickup orders do not notify courier.
  /orders/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Client-owned order detail
  /orders/{id}/addition/calculate:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Server-side calculation for one client add-on inside an existing NEW cash order; delivery fee is not charged again.
  /orders/{id}/addition:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Atomically appends one add-on to a NEW cash order with expected_version conflict protection.
  /kitchen/orders:
    get:
      responses:
        "200":
          description: NEW orders plus pickup orders ready for handoff, without phone/address. Uses private ETag for polling.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Kitchen order list did not change for the supplied If-None-Match validator.
  /kitchen/orders/{id}/ready:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Delivery moves to OUT_FOR_DELIVERY and notifies client/courier. Pickup moves to READY_FOR_PICKUP and notifies only the client.
  /kitchen/orders/{id}/start:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Marks a NEW order as being prepared by the kitchen without changing its customer-facing fulfillment status or sending notifications.
  /kitchen/orders/{id}/preparation/reset:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Returns an in-progress NEW order to the kitchen new lane without changing its customer-facing fulfillment status.
  /kitchen/orders/{id}/picked-up:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Pickup order marked as DELIVERED after customer handoff. Courier is never involved.
  /courier/orders:
    get:
      responses:
        "200":
          description: Delivery-only OUT_FOR_DELIVERY orders with phone/address. Pickup orders are excluded. Uses private ETag for polling.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Courier order list did not change for the supplied If-None-Match validator.
  /courier/orders/{id}/eta:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Courier notifies client that delivery is expected in 5, 10, 15 or 20 minutes. Delivery orders only.
  /courier/orders/{id}/start:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Marks an OUT_FOR_DELIVERY order as being carried now without changing its customer-facing fulfillment status or sending notifications.
  /courier/orders/{id}/delivery/reset:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Returns an OUT_FOR_DELIVERY order to the courier later lane without changing its customer-facing fulfillment status.
  /courier/orders/{id}/delivered:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: Delivery order moved to DELIVERED
  /admin/settings/manual-day-off:
    put:
      responses:
        "200":
          description: Manual day-off switch updated
  /admin/dashboard:
    get:
      responses:
        "200":
          description: Admin home cards, current runtime and notification errors
  /admin/menu:
    get:
      responses:
        "200":
          description: Full admin menu including hidden and archived records
  /admin/categories:
    get:
      responses:
        "200":
          description: Admin category list
    post:
      responses:
        "201":
          description: Category created
  /admin/categories/{id}:
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category updated with optimistic version check
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Empty category deleted, otherwise archived
  /admin/categories/{id}/archive:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category hidden and archived
  /admin/categories/{id}/restore:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category restored from archive and made visible
  /admin/items:
    get:
      responses:
        "200":
          description: Admin dish list
    post:
      responses:
        "201":
          description: Dish created
  /admin/items/{id}:
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Dish updated with optimistic version check
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Unused dish deleted, used dish archived
  /admin/items/{id}/archive:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Dish hidden and archived
  /admin/items/{id}/restore:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Dish restored from archive and made visible
  /admin/uploads/menu-photo:
    post:
      responses:
        "201":
          description: JPEG/PNG/WebP menu photo decoded, stripped, resized and stored as JPEG display + thumbnail variants
  /admin/settings:
    get:
      responses:
        "200":
          description: Safe admin settings without secrets
    put:
      responses:
        "200":
          description: Safe admin settings updated
  /admin/schedule:
    get:
      responses:
        "200":
          description: Weekly restaurant schedule
    put:
      responses:
        "200":
          description: Weekly restaurant schedule replaced after validation
  /admin/orders:
    get:
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, NEW, OUT_FOR_DELIVERY, READY_FOR_PICKUP, READY, DELIVERED, CANCELLED, HISTORY]
        - name: q
          in: query
          schema:
            type: string
            maxLength: 80
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Admin order summary page with private ETag, status/date/search filters and has_more pagination metadata; phone, address, items and events are returned only by /admin/orders/{id}
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
        "304":
          description: Admin order summary page did not change for the supplied If-None-Match validator.
  /admin/reservations:
    get:
      responses:
        "200":
          description: Reservations for the next seven days.
  /admin/reservations/{id}/cancel:
    post:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Admin cancels a reservation and releases its table.
  /admin/orders/search:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                status:
                  type: string
                  enum: [ACTIVE, NEW, OUT_FOR_DELIVERY, READY_FOR_PICKUP, READY, DELIVERED, CANCELLED, HISTORY]
                q:
                  type: string
                  maxLength: 80
                date:
                  type: string
                  format: date
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 20
                offset:
                  type: integer
                  minimum: 0
                  default: 0
      responses:
        "200":
          description: Admin order summary page with counts and body-based search so phone numbers are not placed in URLs.
  /admin/orders/{id}:
    get:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin order detail with PII and events
  /admin/orders/{id}/cancel:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin cancels active order with required reason
  /admin/orders/{id}/return-to-new:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin returns OUT_FOR_DELIVERY or READY_FOR_PICKUP order to NEW
  /admin/orders/{id}/contact:
    put:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin edits phone/address with audit redaction
  /admin/orders/{id}/resend:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin creates a notification retry job. Courier resend is allowed only for delivery orders while order is OUT_FOR_DELIVERY.
  /admin/orders/{id}/note:
    post:
      parameters:
        - $ref: "#/components/parameters/orderId"
      responses:
        "200":
          description: Admin adds internal note
  /admin/staff:
    get:
      responses:
        "200":
          description: Staff list
    post:
      responses:
        "201":
          description: Staff role added by numeric Telegram ID
  /admin/staff/{id}:
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Staff role updated, with last ADMIN and one courier checks
  /admin/analytics:
    get:
      responses:
        "200":
          description: Simple PostgreSQL analytics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAnalytics"
  /admin/analytics.csv:
    get:
      responses:
        "200":
          description: CSV export without phone/address
  /admin/audit:
    get:
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Safe paginated admin audit log with entries, limit, offset and has_more
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    VersionInfo:
      type: object
      additionalProperties: false
      required: [service, build_sha, api_contract]
      properties:
        service:
          type: string
        build_sha:
          type: string
        api_contract:
          type: string
    PerformanceBeacon:
      type: object
      additionalProperties: false
      required: [app, route, build]
      properties:
        app:
          type: string
          enum: [client, kitchen, courier, admin]
        route:
          type: string
          minLength: 1
          maxLength: 64
          pattern: "^[A-Za-z0-9._/-]+$"
        build:
          type: string
          minLength: 1
          maxLength: 80
          pattern: "^[A-Za-z0-9._/-]+$"
        ttfb_ms:
          type: number
          minimum: 0
          maximum: 60000
        lcp_ms:
          type: number
          minimum: 0
          maximum: 60000
        cls:
          type: number
          minimum: 0
          maximum: 10
        inp_ms:
          type: number
          minimum: 0
          maximum: 60000
    AnalyticsSummary:
      type: object
      additionalProperties: false
      required: [all_orders, delivered_orders, cancelled_orders, revenue_minor, average_check_minor]
      properties:
        all_orders:
          type: integer
        delivered_orders:
          type: integer
        cancelled_orders:
          type: integer
        revenue_minor:
          type: integer
        average_check_minor:
          type: integer
    AnalyticsBreakdown:
      type: object
      additionalProperties: false
      required: [key, count, delivered_count, paid_count, cancelled_count, revenue_minor]
      properties:
        key:
          type: string
        count:
          type: integer
        delivered_count:
          type: integer
        paid_count:
          type: integer
        cancelled_count:
          type: integer
        revenue_minor:
          type: integer
    TopDish:
      type: object
      additionalProperties: false
      required: [title, quantity, revenue_minor]
      properties:
        title:
          type: string
        quantity:
          type: integer
        revenue_minor:
          type: integer
    DailyAnalyticsRow:
      type: object
      additionalProperties: false
      required: [day, orders, delivered, cancelled, revenue_minor]
      properties:
        day:
          type: string
        orders:
          type: integer
        delivered:
          type: integer
        cancelled:
          type: integer
        revenue_minor:
          type: integer
    AdminAnalytics:
      type: object
      additionalProperties: false
      required: [currency, from, to, generated_at, summary, statuses, payments, top_dishes, daily_rows]
      properties:
        currency:
          type: string
          enum: [RSD]
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        generated_at:
          type: string
          format: date-time
        summary:
          $ref: "#/components/schemas/AnalyticsSummary"
        statuses:
          type: array
          items:
            $ref: "#/components/schemas/AnalyticsBreakdown"
        payments:
          type: array
          items:
            $ref: "#/components/schemas/AnalyticsBreakdown"
        top_dishes:
          type: array
          items:
            $ref: "#/components/schemas/TopDish"
        daily_rows:
          type: array
          items:
            $ref: "#/components/schemas/DailyAnalyticsRow"
    Reservation:
      type: object
      required: [id, public_number, table_label, date, start_hour, end_hour, guests, status, locale, version, created_at]
      properties:
        id:
          type: string
          format: uuid
        public_number:
          type: integer
        client_user_id:
          type: string
          format: uuid
        client_username:
          type: string
        client_first_name:
          type: string
        table_id:
          type: string
          format: uuid
        table_label:
          type: string
        date:
          type: string
          format: date
        start_hour:
          type: integer
        end_hour:
          type: integer
        guests:
          type: integer
        status:
          type: string
          enum: [CONFIRMED, CANCELLED]
        locale:
          type: string
        version:
          type: integer
        created_at:
          type: string
          format: date-time
        cancelled_at:
          type: string
          format: date-time
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    orderId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    idempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
